<div class="style-field-wrapper">
  <p class="style-field-title">
    Choose what you would like to style on the selected field:)
  </p>
  <form class="stylize-field">
    <mat-form-field>
      <mat-label>Placeholder text</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Border Style</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Font Size Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Font Weight Select</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color Input RGB</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-checkbox class="isRequired">Required</mat-checkbox>
  </form>
</div>



