<div class="style-field-wrapper">
  <p class="style-field-title">
    SELECT FIELD STYLES
  </p>
  <form class="stylize-field">
    <mat-form-field *ngIf="placeholder != null">
      <mat-label>Placeholder</mat-label>
      <input matInput name="placeholder" (ngModelChange)="styleChanged($event, 'placeholder')" [(ngModel)] = 'placeholder'>
    </mat-form-field>

    <mat-form-field *ngIf="text != null">
      <mat-label>Text</mat-label>
      <input matInput name="text" (ngModelChange)="styleChanged($event, 'text')" [(ngModel)] = 'text'>
    </mat-form-field>

    <mat-form-field *ngIf="label != null">
      <mat-label>Label</mat-label>
      <input matInput name="label" (ngModelChange)="styleChanged($event, 'label')" [(ngModel)] = 'label'>
    </mat-form-field>

      <button mat-button  *ngIf="fieldType === 'select'" (click)='addNewOption()'>+</button>
      <div *ngFor='let option of optionsList; let i = index' class="optionList">
        <input matInput (change)='changeInputValue($event, i)' value=" {{option}}">
        <button mat-button (click)='deleteOption(i)'>-</button>
      </div>

    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput name="width" (ngModelChange)="styleChanged($event, 'width')" [(ngModel)] = 'width'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput name="height" (ngModelChange)="styleChanged($event, 'height')" [(ngModel)] = 'height'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Border</mat-label>
      <input matInput name="border" (ngModelChange)="styleChanged($event, 'border')" [(ngModel)] = 'border'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Font Size</mat-label>
      <input matInput name="fontSize" (ngModelChange)="styleChanged($event, 'fontSize')" [(ngModel)] = 'fontSize'>
    </mat-form-field>

    <mat-form-field class="fontWeightStyle">
      <mat-label>Font Weight</mat-label>
      <mat-select [(value)]="fontWeight">
        <mat-option value='100' (click)="styleChanged(fontWeight, 'fontWeight')">
          lighter
        </mat-option>
        <mat-option value='400' (click)="styleChanged(fontWeight, 'fontWeight')">
          normal
        </mat-option>
        <mat-option value='700' (click)="styleChanged(fontWeight, 'fontWeight')">
          bold
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput name="color" (ngModelChange)="styleChanged($event, 'color')"  [(ngModel)] = 'color'>
    </mat-form-field>
    <mat-checkbox class="isRequired" name="isRequired" (ngModelChange)="styleChanged($event, 'false')"  [(ngModel)] = 'isRequired'>Required</mat-checkbox>
  </form>
</div>



