.style-field-wrapper {
  height: 100%;
  padding: 15px;
  max-height: 100vh;
  overflow: auto;
}

.style-field-title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.stylize-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #262729;
}

input {
  padding-left: 10px;
}

mat-form-field {
  margin-top: 15px;
}

mat-form-field  mat-label {
  color:#f1f3f5;
  padding: 10px;
  }

.isRequired {
  margin: 13px;
}

.optionList {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 10px;
}

.option-input {
  border-bottom: 1px solid black;
}

