<div class="style-form-wrapper">
  <p class="style-form-title">
    SELECT GENERAL FORM STYLE
  </p>
  <form class="stylize-form">
    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput name="width"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput name="height"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Font Size</mat-label>
      <input matInput name="fontSize"
      >
    </mat-form-field>

<!--    <mat-form-field class="fontWeightStyle">-->
<!--      <mat-label>Font Weight</mat-label>-->
<!--      <mat-select [(value)]="styles.fontWeight">-->
<!--        <mat-option value='100' (click)="globalStyleChange('100', 'fontWeight')">-->
<!--          lighter-->
<!--        </mat-option>-->
<!--        <mat-option value='400' (click)="globalStyleChange('400', 'fontWeight')">-->
<!--          normal-->
<!--        </mat-option>-->
<!--        <mat-option value='700' (click)="globalStyleChange('700', 'fontWeight')">-->
<!--          bold-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput name="color"
      >
    </mat-form-field>

  </form>
</div>
