<div class="style-form-wrapper">
  <p class="style-form-title">
    SELECT GENERAL FORM STYLE
  </p>
  <form class="stylize-form">
    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput name="width" (ngModelChange)="globalStyleChange($event, 'width')" [(ngModel)] = 'width'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput name="height" (ngModelChange)="globalStyleChange($event, 'height')" [(ngModel)] = 'height'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Font Size</mat-label>
      <input matInput name="fontSize" (ngModelChange)="globalStyleChange($event, 'fontSize')" [(ngModel)] = 'fontSize'>
    </mat-form-field>

    <mat-form-field class="fontWeightStyle">
      <mat-label>Font Weight</mat-label>
      <mat-select [(value)]="fontWeight">
        <mat-option value='100' (click)="globalStyleChange(fontWeight, 'fontWeight')">
          lighter
        </mat-option>
        <mat-option value='400' (click)="globalStyleChange(fontWeight, 'fontWeight')">
          normal
        </mat-option>
        <mat-option value='700' (click)="globalStyleChange(fontWeight, 'fontWeight')">
          bold
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput name="color" (ngModelChange)="globalStyleChange($event, 'color')"  [(ngModel)] = 'color'>
    </mat-form-field>

  </form>
</div>
