<div class="style-form-wrapper">
  <p class="style-form-title">
    SELECT GENERAL FORM STYLE
  </p>
  <form class="stylize-form" [formGroup]="generalStyling" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput
             name="width"
             formControlName="width"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput
             name="height"
             formControlName="height"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>fontSize</mat-label>
      <input matInput
             name="fontSize"
             formControlName="fontSize"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput
             name="color"
             formControlName="color"
      >
    </mat-form-field>

    <mat-form-field class="fontWeightStyle">
      <mat-label>Font Weight</mat-label>
      <mat-select formControlName = "fontWeight">
        <mat-option class="option" value='100'>
          lighter
        </mat-option>
        <mat-option class="option" value='400'>
          normal
        </mat-option>
        <mat-option class="option" value='700'>
          bold
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button color="primary"
      class="button"
      type="submit"

    >Change styles
    </button>

  </form>
</div>
