<div class='login-wrapper'>
  <form #loginForm="ngForm" class="login-form">
      <p>Email:</p>
      <input 
             type="text"
             name="email" 
             [(ngModel)]="email" >
      <p>Password:</p>
      <input 
             type="text" 
             name="password" 
             [(ngModel)]="password">
       <div class='buttons'>
              <button mat-button
                     type='submit'
                     (click)="onSubmit(loginForm)"
              >Login</button>
              <button mat-button
                     type='submit'
                     (click)="redirectToRegister()"
              >Sign-up</button>
       </div>
  </form>
</div>