<div class='constructor'>
  <div 
    class="inputs"
    [ngStyle]="{'width': '300px', 'height': '300px'}" 
    cdkDropList
    [cdkDropListData]="constructorFieldsTypesList"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let field of constructorFieldsTypesList; let i = index"
    >
      <input *ngIf="field =='input'" (click)="handleFieldClick(i)" (clickOutside)="handleFieldClickOutside(i)" [ngStyle]="getFieldStyles(field)"/>
      <textarea *ngIf="field =='textarea'" (click)="handleFieldClick(i)" (clickOutside)="handleFieldClickOutside(i)"></textarea>
      <button *ngIf="field =='button'" (click)="handleFieldClick(i)" (clickOutside)="handleFieldClickOutside(i)"></button> 
    </div>
    <!-- <div 
      cdkDropList
      #constructor="cdkDropList"
      [cdkDropListData]="constructorFields"
      (cdkDropListDropped)="drop($event)"
      *ngFor="let items of constructor"
    > -->
  </div>
  <!-- <button (click)="changeSelectedField()">Set select field</button> -->
</div>
