<div class='constructor'>
  <p class="constructor-field-title">form builder</p>
  <div
    class="constructor-wrapper">
  <div
    class="drop-container"
    cdkDropList
    [cdkDropListData]="fieldTypes"
    (cdkDropListDropped)="drop($event)"
  >
    <form class="form-container" [formGroup]='formConstructor' (ngSubmit)="onSubmit()">
      <div cdkDrag *ngFor="let field of formFields$ | ngrxPush; let i = index">
        <div [ngSwitch]='field.type'>

          <ng-container *ngSwitchCase="'input'">
            <app-input
              *ngSwitchCase="'input'"
              [stylesObj]="getFieldStyles(i)"
              [formControlName]="field.type + '-' + field.id"
              [label]="field.label"
              [placeholder]="getFieldProp(i, 'placeholder')"
              (click)="handleFieldClick(i)"
              (clickOutside)="handleFieldClickOutside($event, i)"
            >
            </app-input>
            <p *ngIf="formConstructor.controls[field.type + '-' + field.id].invalid
                && formConstructor.controls[field.type + '-' + field.id].touched">
              Enter correct value
            </p>
          </ng-container>

        <ng-container *ngSwitchCase="'textarea'">
        <app-textarea
            *ngSwitchCase="'textarea'"
            [stylesObj]="getFieldStyles(i)"
            [formControlName]="field.type + '-' + field.id"
            [label]="field.label"
            [placeholder]="getFieldProp(i, 'placeholder')"
            (click)="handleFieldClick(i)"
            (clickOutside)="handleFieldClickOutside($event, i)" >
        </app-textarea>
        <p *ngIf="formConstructor.controls[field.type + '-' + field.id].invalid
            && formConstructor.controls[field.type + '-' + field.id].touched">
          Enter correct value
        </p>
        </ng-container>

        <button
              *ngSwitchCase="'button'"
              mat-raised-button color="primary"
              class="button"
              (click)="handleFieldClick(i)" (clickOutside)="handleFieldClickOutside($event, i)"
              [exclude]="'.styles'"
              [ngStyle]="getFieldStyles(i)"
              type="submit"

        >
          {{getFieldProp(i, 'text')}}
        </button>

        <ng-container *ngSwitchCase="'checkbox'">
          <app-checkbox
            [label]="field.label"
            [formControlName]="field.type + '-' + field.id"
            (click)="handleFieldClick(i)" (clickOutside)="handleFieldClickOutside($event, i)"
            [exclude]="'.styles'"
            [stylesObj]="getFieldStyles(i)"
          >
          </app-checkbox>
        </ng-container>

        <app-select
          *ngSwitchCase="'select'"
          [formControlName]="field.type + '-' + field.id"
          (click)="handleSelectOpenedChange($event, i)"
          [stylesObj]="getFieldStyles(i)"
          (clickOutside)="handleFieldClickOutside($event, i)"
          [exclude]="'.styles, .cdk-overlay-backdrop'"
          [options]='field.options'
          [label]="getFieldProp(i, 'label')"
        >
        </app-select>
      </div>
      </div>
    </form>
  </div>
  </div>
</div>
