$background: #303133;
$backgroundInner: rgb(72, 72, 77);
$fieldWrapper: #262729;
$border: 1px solid black;
$text-color: #f1f3f5;
$dropPlaceholderColor: rgb(97, 95, 95);
$dropWrapBackground: rgb(58, 58, 59);
$fontFamily: Roboto;
