<div class="inputs">
    <div 
    cdkDropList
    [cdkDropListData]="fieldTypes"
  >
    <div 
      cdkDrag
      class="field-wrapper" 
      *ngFor="let field of fieldTypes"
    >
      <mat-form-field *ngIf="field =='input'" class="text_field">
        <input matInput >
      </mat-form-field>

      <mat-form-field *ngIf="field =='textarea'" class="textarea_field">
        <textarea 
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
        >
        </textarea>
      </mat-form-field>

      <button *ngIf="field =='button'" mat-raised-button color="primary" class="button">Button</button>
  
      <mat-checkbox *ngIf="field =='checkbox'"  class="checkbox">Check me!</mat-checkbox>
      
      <mat-select *ngIf="field =='select'" class="select"> 
        <mat-option  class="select_option">
          option
        </mat-option>
      </mat-select>
      
    </div>
  </div>
</div>
