.form-builder-wrapper {
  display: grid;
  grid-template-areas: styles constructor inputs ;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 100%;
  height: 100%;
  // height: 1200px;
  // background-color: rgba(240, 224, 224, 0.925);
  // background: rgb(128,128,128);
  // background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(211,211,211,1) 50%, rgba(128,128,128,1) 100%);
  // background: rgb(211,211,211);
  // background: radial-gradient(circle, rgba(211,211,211,1) 0%, rgba(128,128,128,1) 100%);
  background-color: #303133;
}
.cdk-drag-placeholder {
  background-color: red;
}